#body{

  height: 100%;
  .normal-outer-bg{
    overflow: hidden;
  }
  .global-bg{
    min-height: 100%;
    overflow: hidden;

    .global-content{
      position: relative;
      margin-top: 50px;
      min-height:500px;
      overflow: hidden;
    }
  }

  .user-node {
    .global-content{
      position: relative;
      margin-left: 224px;
      padding: 50px 80px 150px 80px;
      min-height:500px;
      overflow: hidden;
    }

    .user-content {
      padding-top: 50px;
    }
  }


  .global-body{
    position: relative;
    margin-top: 80px;
    min-height:500px;
    overflow: hidden;
  }

}