.common-title-con {
  overflow: hidden;

  h1 {
    font-size: 24px;
    margin-bottom: 0px;
  }

  .common-title-underline {
    width: 100%;
    height: 5px;
    margin-top: 4px;
    background: $ai-secondary-light-green;
  }
}


// Index
.index-bg {
  .section-02 {
    .common-title-con {
      @include margin-leftop(130px, 210px);
  
      h6 {
        margin-top: 20px;
        font-size: 36px;
      }
    }
  }
  
  .section-03{
    
    .common-title-con {
      @include rect-center(80%, initial);
      margin-top: 40px;
      margin-bottom: 40px;
      img {
        @include center;
      }
  
      h6 {
        @include rect-center(1000px, initial);
        margin-top: 30px;
        font-size: 24px;
        line-height: 40px;
      }
    }

    .section-03-thumb {
      margin-top: 80px;
    }

  }


}
